*{
  box-sizing:border-box;
  font-size:10px
}

#background{
  width:100vw;
  height:100vh;
  background-color:rgb(30, 24, 59);
  display:flex;
  justify-content: center;
  align-items:center;

}

#app{
  width: 40%;
  height:80%;
  background-color:rgb(83, 6, 207);
}